# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# dotenv
.env
.env.*.local

# Build outputs (common)
dist/
build/
out/

# Coverage (test)
coverage/

# TypeScript
*.tsbuildinfo

# Next.js (if used)
.next/
out/

data/

# Python cache
__pycache__/
*.py[cod]

service-account.json
